.title{
    background-color: black;
    color: #ebebeb
  }
  
  .remark-slide-content{
    font-size: 25px;
    background-color: black;
    color: #ebebeb
  }
  
  a{
    color: #5aa648;
  }
  
  h2 {
    margin-bottom: 2rem;
  }
  li {
    margin-bottom: 1rem;
  }
  
  